@page "/saved-workout"
@using Examensarbete.Shared.Model;
@inject ExerciseService exerciseService;

<MudPaper Class="savedWorkouts">
    @foreach (var date in exerciseService.WorkoutList)
    {

        <ul>
            <li><h3>@date.Exercise</h3></li>
            <li>@date.Focus</li>
            <li>@date.Repetition reps</li>
            <li>@date.Rounds rounds</li>
            <li>Total time: @date.TotalTime min</li>
            <li>@date.Date.Value.Date.ToShortDateString()</li>
        </ul>
        <MudScrollToTop>
            <MudFab Color="Color.Tertiary" Icon="@Icons.Material.Filled.ArrowCircleUp" />
        </MudScrollToTop>

    }
</MudPaper>

@code {

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await exerciseService.GetWorkout();
        return;
    }
}

